*.aux
*.bbl
*.blg
*.brf
*.fdb_latexmk
*.fls
*.log
*.out
*.toc
*.lof
*.lot
*.lol
*.nav
*.snm
*.synctex.gz
*.synctex(busy)
*.xdv
*.dvi
*.ps
*.tmp
*.bak
*.backup
*~
*.acn
*.acr
*.alg
*.glg
*.glo
*.gls
*.ist
*.maf
*.mtc*
*.nlo
*.nls
*.xdy
*.run.xml
*.bcf
*.vrb
_output/
build/
latex.out/
